@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-yellow: #f7dd43;
    --primary-yellow-100: #746615;
    --primary-black: #121214;
    --primary-black-100: #1d1c19;
    --primary-black-200: #323238;
    --primary-white: #e1e1e6;
}

ul {
    list-style: none;
}

body {
    background-attachment: fixed;
    background-color: var(--primary-black);
    background-image: url(./assets/bg-green.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -345px;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#app {
    margin: auto;
    padding-top: 50px;
    width: fit-content;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    background-color: var(--primary-black-100);
    border-bottom: 2px solid var(--primary-yellow);
    border-radius: 6px;
    padding: 32px 23px;
    text-align: center;
}

.card h2 {
    align-items: center;
    border: 1px solid var(--primary-yellow-100);
    border-radius: 6px;
    color: var(--primary-yellow);
    display: flex;
    font-weight: bold;
    gap: 16px;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 50px;
    padding: 8px 16px;
    width: fit-content;
}

.card h2 span {
    color: var(--primary-white);
    font-size: 14px;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}

.card ul li {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card ul li + li {
    border-top: 1px solid var(--primary-black-200);
    padding-top: 24px;
}

.card ul li strong {
    color: var(--primary-white);
    font-size: 36px;
    font-weight: 900;
    line-height: 125%;
}

.card ul li strong,
.card ul li img {
    transition: transform 0.3s;
}

.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1);
}

.card{
    opacity: 0;
    animation: appear .2s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    #cards {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 670px;

    }
}
